<h1>Fill Out This Form</h1>

<form action="/new" method="POST">
    Title: <input type="text" name="post[title]">
    <br/>
    Body: <input type="text" name="post[body]">
    <br/>
    <input type="submit">
</form>